/* General and Dashboard */

body.dark-theme {
    background-color: #00001b !important;
    background: #00001b !important;
    color: white;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.dark-theme header,
.dark-theme footer {
    background: #00000c !important;
    color: white;
}

.dark-theme .card {
    background-color: #00010c !important;
    color: white;
}

.dark-theme tr,
.dark-theme tr th,
.dark-theme .bg-light {
    background-color: #00010c !important;
}

.dark-theme table tr th {
    background-color: transparent;
}

.dark-theme div[class^="UpsellContainer"],
.dark-theme div[class^="ConnectUpsellContainer"] {
    background: #00010c !important;
    color: white !important;
}

.dark-theme a,
.dark-theme h1,
.dark-theme span {
    color: white !important;
}

.dark-theme .text-btn-lg,
.dark-theme .text-body-md,
.dark-theme .caption-sm th,
.dark-theme .text-btn-md.text-dark,
.dark-theme .text-secondary.text-body-md {
    color: #c0c0c0 !important;
}

.dark-theme .dropdown-menu {
    background-color: #00001b !important;
}

.dark-theme .table {
    color: white;
}

.dark-theme .table .rounded th {
    border-radius: 0 !important;
}

.dark-theme ul[class^="NavigationMenuList"] div,
.dark-theme ul[class*="NavigationMenuList"] li > div {
    background-color: #00010c !important;
    color: white;
}

.dark-theme ul[class^="NavigationMenuList"] div > :hover,
.dark-theme ul[class*="NavigationMenuList"] li > div :hover {
    background-color: white !important;
    color: #00010c !important;
}

#dark-theme-button-wrapper {
    background-color: #00010c;
    border-radius: 50%;
    bottom: 10px;
    color: white;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 10px;
    width: 50px;
}

#dark-theme-button-wrapper svg {
    color: white;
    height: 100%;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.dark-theme #dark-theme-button-wrapper {
    background-color: white;
    color: #00010c;
}

.dark-theme #dark-theme-button-wrapper svg {
    color: #00010c;
    height: 100%;
    margin: auto;
    padding: 10px;
    width: 100%;
}

/* End General and Dashboard */

/* Performance page */

.dark-theme #react-component-container-performance-page #date-picker {
    margin-right: 1rem;
}

.dark-theme #react-component-container-performance-page #dropdown-performance-type .btn-light {
    border-radius: 5px !important;
}

.dark-theme #react-component-container-performance-page #dropdown-performance-type .dropdown-menu-right {
    min-width: 8.6rem !important;
    transform: translate3d(-8px, 50px, 0px) !important;
}

.dark-theme
    #react-component-container-performance-page
    #dropdown-performance-type
    .dropdown-menu-right
    .dropdown-item:hover {
    background-color: white !important;
    color: #00010c !important;
}

.dark-theme #react-component-container-performance-page .btn-light,
.dark-theme #react-component-container-performance-page .btn-light * {
    color: #00010c !important;
}

.dark-theme .card.elevated,
.dark-theme .card.elevated .list-group,
.dark-theme .card.elevated .list-group .list-group-item {
    background-color: #00001b !important;
    color: white;
}

.dark-theme .card.elevated .card-header > *,
.dark-theme .card.elevated .list-group .list-group-item h5 {
    color: white !important;
}

/* End Performance page */

/* Wallet page */

.dark-theme #accounts-wallets .list-group,
.dark-theme #accounts-wallets .list-group .list-group-item {
    background-color: #00001b !important;
    color: white;
}

.dark-theme #accounts-wallets .list-group .list-group-item .badge-light {
    background-color: #3b3b3b !important;
}

/* End Wallet page */

/* Transactions page */

.dark-theme #root div[class*="TransactionsContent"] {
    background: transparent !important;
}

.dark-theme #root tr[class*="TransactionsTable__TableRowHeader"] {
    border: 0px !important;
}

.dark-theme #root div[class*="FilterContent"] {
    background-color: #00010c !important;
    color: white !important;
}

.dark-theme #root div[class*="CaptionSmall"],
.dark-theme #root div[class*="FilterContent"] *,
.dark-theme #root div[class*="TransactionType__Content"] {
    color: white !important;
}

.dark-theme #root div[class*="TransactionType__TypeButtonMid"] {
    color: white !important;
}

.dark-theme #root > div {
    background: rgb(0, 0, 27) !important;
    color: white;
    transition: background-color 0.8s ease-out 0s;
}

.dark-theme #root div[class*="SortDropdownFilterWrapper"] {
    margin-top: 0px;
}

.dark-theme #root div[class*="SortDropdownFilterWrapper"] button {
    padding-right: 15px;
    border-radius: 5px;
}
/* End transactions page */

/* Pagination */

.dark-theme .pagination .page-item a,
.dark-theme .pagination .page-item button {
    background: rgb(0, 0, 12) !important;
    color: white !important;
}

.dark-theme .pagination .page-item.active button {
    background: white !important;
    color: rgb(0, 0, 12) !important;
}

/* End Pagination */

/* Modal */

.dark-theme .modal-dialog {
    box-shadow: 10px 10px 20px 7px #ffffff3d;
}

.dark-theme .modal-content > div {
    background-color: #00010c !important;
    color: white !important;
}

.dark-theme .modal-content [class*="IntegrationContent"] {
    background-color: #00010c !important;
    color: white !important;
}

.dark-theme .modal-content [class*="IntegrationContent"] h5 {
    color: white !important;
}

.dark-theme .modal-content [class*="SearchContainer"],
.dark-theme .modal-content [class*="SearchContainer"] input {
    background-color: #00010c !important;
    color: white !important;
}

/* End Modal */
